{{# if input }}
    <div class="label">{{label}}</div>
    <input
            name={{name}}
            class="value"

        {{#if type}}
            type={{type}}
        {{else}}
            type="text"
        {{/if}}

        {{#if value}}
            value={{value}}
        {{/if}}

        {{#if placeholder}}
            placeholder={{placeholder}}
        {{else}}
            placeholder={{label}}
        {{/if}}
    >
{{else}}
    <div class="label">{{label}}</div>
    <div class="value">{{value}}</div>
{{/if}}