<form action="#" onsubmit=preventDefault>
    <h2 class="entry-title">{{title}}</h2>
    {{{email}}}
    {{{login}}}
    {{{first_name}}}
    {{{second_name}}}
    {{{phone}}}
    {{{password}}}
    {{{password_repeat}}}
    {{{button}}}
    {{{toAuthorization}}}
</form>